body{
  background: rgb(10,50,50); 
    background-size: cover;
  color:white;
    font-weight: bold;
}
h1{
  font-weight: bolder;
  font-size:4rem;
}
.bt{
  height:30%;
  width:33%;
  color:white;
  background:rgba(50,111,111,1);
  font-size:7rem;
  border:white solid 1px;
  margin-left:auto;
  margin-right:auto;
}
.game{
  margin-top:50px;
  margin-bottom:50px;
  margin-left:auto;
  margin-right:auto;
}
.settings{
  margin-top:100px;
}
#reset{
  margin:5px;
}
.hide{
  display:none;
}